 <header>
        <h1 class="title">
            ${User's} Budget 
        </h1>
        
    {{!-- <div>
        {{#each income}}
        <p> {{ title }} {{ Budget }} {{ Actual }} </p>
        {{/each}}
    </div>

    <div>
        {{#each expense}}
        <p> {{ title }} {{ Budget }} {{ Actual }} </p>
        {{/each}}
    </div> --}}

        {{!-- <div class="topTable">
            <form>
                <table>
                    <tr class="header">
                        <th>Income</th>
                        <th>Budget</th>
                        <th>Actual</th>
                        <th class="edit">Edit</th>
                        <th class="delete">Delete</th>
                    </tr>
                    <tr>
                        <td><input type="text" placeholder="EX. Job" name="income-title" id="income-title" class="row">
                        <td><input type="text" placeholder="EX. 5000" name="income-budget" id="income-budget" class="row"></td>
                        <td><input type="text" placeholder="EX. 7000" name="income-actual" id="income-actual" class="row"></td>
                        <td><button>Edit</button></td>
                        <td><button>Delete</button></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="income-title" id="income-title" class="row"></td>
                        <td><input type="text" name="income-budget" id="income-budget" class="row"></td>
                        <td><input type="text" name="income-actual" id="income-actual" class="row"></td>
                        <td><button>Edit</button></td>
                        <td><button>Delete</button></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="income-title" id="income-title" class="row"></td>
                        <td><input type="text" name="income-budget" id="income-budget" class="row"></td>
                        <td><input type="text" name="income-actual" id="income-actual" class="row"></td>
                        <td><button>Edit</button></td>
                        <td><button>Delete</button></td>
                    </tr>
                </table>
            </form>
            <button>Save</button>
        </div> --}}

        <div class="chartTop">
            <canvas id="topChart" width="450" height="150"></canvas>
        </div>

        <div class="top-right">
            <div>
                Availible to budget
            </div>
            <div>
                Availible to spend
            </div>
            <div>

            </div>
        </div>

    </header>

    <main class="main">

        <section class="bills">
            <form>
                <table>
                    <tr class="header">
                        <th>Bills</th>
                        <th>Budget</th>
                        <th>Actual</th>
                        <th class="edit">Edit</th>
                        <th class="delete">Delete</th>
                    </tr>
                    {{#each expense}}
                    <tr>
                        <form class="expenses-form" id="{{ id }}">
                        <td><input type="text" value="{{ title }}" id="expenses-title_{{ id }}"></td>
                        <td><input type="text" value="{{ Budget }}" id="expenses-budget_{{ id }}"></td>
                        <td><input type="text" value="{{ Actual }}" id="expenses-actual_{{ id }}"></td>
                        <td><button type="submit">Edit</button></td>
                        </form>
                        <td><button class="delete-btn" id="{{ id }}_delete">Delete</button></td>
                    </tr>
                    {{/each}}
                    <tr>
                        <td><input type="text" name="income-title" id="income-title" class="row"></td>
                        <td><input type="text" name="income-budget" id="income-budget" class="row"></td>
                        <td><input type="text" name="income-actual" id="income-actual" class="row"></td>
                        <td><button>Edit</button></td>
                        <td><button>Delete</button></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="income-title" id="income-title" class="row"></td>
                        <td><input type="text" name="income-budget" id="income-budget" class="row"></td>
                        <td><input type="text" name="income-actual" id="income-actual" class="row"></td>
                        <td><button>Edit</button></td>
                        <td><button>Delete</button></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="income-title" id="income-title" class="row"></td>
                        <td><input type="text" name="income-budget" id="income-budget" class="row"></td>
                        <td><input type="text" name="income-actual" id="income-actual" class="row"></td>
                        <td><button>Edit</button></td>
                        <td><button>Delete</button></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="income-title" id="income-title" class="row"></td>
                        <td><input type="text" name="income-budget" id="income-budget" class="row"></td>
                        <td><input type="text" name="income-actual" id="income-actual" class="row"></td>
                        <td><button>Edit</button></td>
                        <td><button>Delete</button></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="income-title" id="income-title" class="row"></td>
                        <td><input type="text" name="income-budget" id="income-budget" class="row"></td>
                        <td><input type="text" name="income-actual" id="income-actual" class="row"></td>
                        <td><button>Edit</button></td>
                        <td><button>Delete</button></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="income-title" id="income-title" class="row"></td>
                        <td><input type="text" name="income-budget" id="income-budget" class="row"></td>
                        <td><input type="text" name="income-actual" id="income-actual" class="row"></td>
                        <td><button>Edit</button></td>
                        <td><button>Delete</button></td>
                    </tr>
                </table>
            </form>
            <button>Save</button>
        </section>

        <section class="savings">
            <form>
                <table>
                    <tr class="header">
                        <th>Savings</th>
                        <th>Budget</th>
                        <th>Actual</th>
                        <th class="edit">Edit</th>
                        <th class="delete">Delete</th>
                    </tr>
                    {{#each saving}}
                    <tr>
                        <td>{{ title }}</td>
                        <td><input type="text" placeholder="EX. 5000" name="income-budget" id="income-budget" class="row"></td>
                        <td><input type="text" placeholder="EX. 7000" name="income-actual" id="income-actual" class="row"></td>
                        <td><button>Edit</button></td>
                        <td><button>Delete</button></td>
                    </tr>
                    {{/each}}
                    <tr>
                        <td><input type="text" name="income-title" id="income-title" class="row"></td>
                        <td><input type="text" name="income-budget" id="income-budget" class="row"></td>
                        <td><input type="text" name="income-actual" id="income-actual" class="row"></td>
                        <td><button>Edit</button></td>
                        <td><button>Delete</button></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="income-title" id="income-title" class="row"></td>
                        <td><input type="text" name="income-budget" id="income-budget" class="row"></td>
                        <td><input type="text" name="income-actual" id="income-actual" class="row"></td>
                        <td><button>Edit</button></td>
                        <td><button>Delete</button></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="income-title" id="income-title" class="row"></td>
                        <td><input type="text" name="income-budget" id="income-budget" class="row"></td>
                        <td><input type="text" name="income-actual" id="income-actual" class="row"></td>
                        <td><button>Edit</button></td>
                        <td><button>Delete</button></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="income-title" id="income-title" class="row"></td>
                        <td><input type="text" name="income-budget" id="income-budget" class="row"></td>
                        <td><input type="text" name="income-actual" id="income-actual" class="row"></td>
                        <td><button>Edit</button></td>
                        <td><button>Delete</button></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="income-title" id="income-title" class="row"></td>
                        <td><input type="text" name="income-budget" id="income-budget" class="row"></td>
                        <td><input type="text" name="income-actual" id="income-actual" class="row"></td>
                        <td><button>Edit</button></td>
                        <td><button>Delete</button></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="income-title" id="income-title" class="row"></td>
                        <td><input type="text" name="income-budget" id="income-budget" class="row"></td>
                        <td><input type="text" name="income-actual" id="income-actual" class="row"></td>
                        <td><button>Edit</button></td>
                        <td><button>Delete</button></td>
                    </tr>
                </table>
            </form>
            <button>Save</button>
        </section>

        <section class="chart1">
            <canvas id="chart1"></canvas>
        </section>

    </main>

    <section class="chart2">
        <canvas id="chart2"></canvas>
    </section>
    

    <script src="/javascript/budget-page.js"></script>
    <script src="/javascript/delete-budget-row.js"></script>
    <script src="/javascript/edit-budget-row.js"></script>