<nav class="columns bills">
  <div class="column">
    <h1>Life & a Budget</h1>
  </div>
  <div class="column">
    <div>
      <a href="/login">
        <button
          id="logout"
          class="login-btn fa-solid fa-user"
          role="button"
        >Logout</button>
      </a>
    </div>
  </div>
</nav>

<header class="columns bills">
  <div class="column">
  <h1 class="title has-text-centered">
    Monthly Budget
  </h1>
  </div>
</header>

<section class="columns">

  
  <div class="column is-three-fifths income">
    <div class="topTable">
    <form>
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <tr class="header">
          <th>Income</th>
          <th>Budget</th>
          <th>Actual</th>
          <th>Save</th>
          <th>Delete</th>
        </tr>
        {{#each income}}
          <tr>
            {{!-- <form class="income-form" id="{{ id }}_income"> --}}
            <td><input
                class="input"
                type="text"
                value="{{title}}"
                id="income-title_{{id}}"
              /></td>
            <td><input
                class="input"
                type="text"
                value="{{Budget}}"
                id="income-budget_{{id}}"
              /></td>
            <td><input
                class="input"
                type="text"
                value="{{Actual}}"
                id="income-actual_{{id}}"
              /></td>
            <td><button
                class="save-income-btn button is-fullwidth is-success is-light"
                id="{{id}}_income-save"
              >Save</button></td>
            {{! </form> }}
            <td><button
                class="delete-income-btn button is-fullwidth is-danger is-light"
                id="{{id}}_delete-income"
              >Delete</button></td>
          </tr>
        {{/each}}
        <tr>
          <td><input
              class="input"
              type="text"
              placeholder="EX Income"
              id="new-income-title"
            /></td>
          <td><input
              class="input"
              type="text"
              placeholder="EX 300"
              id="new-income-budget"
            /></td>
          <td><input
              class="input"
              type="text"
              placeholder="EX 302.49"
              id="new-income-actual"
            /></td>
        </tr>
      </table>
    </form>
    <button class="button is-fullwidth is-primary is-light" id="new-income-btn">Add Row</button>
  </div>
  </div>


  <div class="column">
    <div class="chartTop bills">
      <canvas id="topChart" width="450" height="150"></canvas>
    </div>
  </div>


</section>

{{!-- ========================================================================================= --}}


<section class="columns">


  <div class="column is-three-fifths expenses">
    <form>
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <tr class="header">
          <th>Bills</th>
          <th>Budget</th>
          <th>Actual</th>
          <th>Save</th>
          <th>Delete</th>
        </tr>
        {{#each expense}}
          <tr>
            {{!-- <form class="expenses-form" id="{{ id }}_expenses"> --}}
            <td><input
                class="input"
                type="text"
                value="{{title}}"
                id="expenses-title_{{id}}"
              /></td>
            <td><input
                class="input"
                type="text"
                value="{{Budget}}"
                id="expenses-budget_{{id}}"
              /></td>
            <td><input
                class="input"
                type="text"
                value="{{Actual}}"
                id="expenses-actual_{{id}}"
              /></td>
            <td><button
                class="save-expenses-btn button is-fullwidth is-success is-light"
                id="{{id}}_expenses-save"
              >Save</button></td>
            {{! </form> }}
            <td><button
                class="delete-expenses-btn button is-fullwidth is-danger is-light"
                id="{{id}}_delete-expenses"
              >Delete</button></td>
          </tr>
        {{/each}}
        <tr>
          <td><input
              class="input"
              type="text"
              placeholder="EX Expense"
              id="new-expense-title"
            /></td>
          <td><input
              class="input"
              type="text"
              placeholder="EX 300"
              id="new-expense-budget"
            /></td>
          <td><input
              class="input"
              type="text"
              placeholder="EX 302.49"
              id="new-expense-actual"
            /></td>
        </tr>
      </table>
    </form>
    <button class="button is-fullwidth is-primary is-light" id="new-expenses-btn">Add Row</button>
  </div>


  <div class="column bills">
    <canvas id="chart1"></canvas>
  </div>


</section>

{{!-- ================================================================================== --}}


<section class="columns">


  <div class="column is-three-fifths savings">
    <form>
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <tr class="header">
          <th>Savings</th>
          <th>Budget</th>
          <th>Actual</th>
          <th>Save</th>
          <th>Delete</th>
        </tr>
        {{#each savings}}
          <tr>
            {{!-- <form class="savings-form" id="{{ id }}_savings"> --}}
            <td><input
                class="input"
                type="text"
                value="{{title}}"
                id="savings-title_{{id}}"
              /></td>
            <td><input
                class="input"
                type="text"
                value="{{Budget}}"
                id="savings-budget_{{id}}"
              /></td>
            <td><input
                class="input"
                type="text"
                value="{{Actual}}"
                id="savings-actual_{{id}}"
              /></td>
            <td><button
                class="save-savings-btn button is-fullwidth is-success is-light"
                id="{{id}}_savings-save"
              >Save</button></td>
            {{! </form> }}
            <td><button
                class="delete-savings-btn button is-fullwidth is-danger is-light"
                id="{{id}}_delete-savings"
              >Delete</button></td>
          </tr>
        {{/each}}
        <tr>
          <td><input
              class="input"
              type="text"
              placeholder="EX Savings"
              id="new-savings-title"
            /></td>
          <td><input
              class="input"
              type="text"
              placeholder="EX 300"
              id="new-savings-budget"
            /></td>
          <td><input
              class="input"
              type="text"
              placeholder="EX 302.49"
              id="new-savings-actual"
            /></td>
        </tr>
      </table>
    </form>
    <button class="button is-fullwidth is-primary is-light" id="new-savings-btn">Add Row</button>
  </div>


  <div class="column bills">
    <section class="chart2">
      <canvas id="chart2"></canvas>
    </section>
  </div>


</section>


  <div class="top-right">
    {{!-- <div>
      <a href="/login">
        <button
          id="logout"
          class="login-btn fa-solid fa-user"
          role="button"
        >Logout</button>
      </a>
    </div> --}}
  </div>

<script src="/javascript/budget-page.js"></script>
<script src="/javascript/add-budget-row.js"></script>
<script src="/javascript/delete-budget-row.js"></script>
<script src="/javascript/edit-budget-row.js"></script>
<script src="/javascript/add-income-row.js"></script>
<script src="/javascript/delete-income-row.js"></script>
<script src="/javascript/edit-income-row.js"></script>
<script src="/javascript/add-savings-row.js"></script>
<script src="/javascript/delete-savings-row.js"></script>
<script src="/javascript/edit-savings-row.js"></script>
